<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="pestanas1-element">
  <template>
    <style>
    :host {
        display: block;
    }
	body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

    </style>
    
	
	<div class="tab">
		<template is="dom-repeat" items="{{itemArray}}">
					
			  <button class="tablinks" id="pestana_[[item.id]]" on-click="pestanaClick" >[[item.pestana]]</button>
							
		</template>
	</div>
	
	
	
  </template>

  <script>
    /**
     * `pestanas1-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Pestanas1Element extends Polymer.Element {
      static get is() { return 'pestanas1-element'; }
      static get properties() {
        return {
		  itemArray:{
			type: Array,
			value(){
				return[
					{id:"1", pestana:"Pestaña 1"},
					{id:"2", pestana:"Pestaña 2"},
					{id:"3", pestana:"Pestaña 3"}
				]
			}
		  }	  
		  
        };
      }
	  pestanaClick(e) {
       	console.log(e.model.__data.item);
		this.dispatchEvent(new CustomEvent('click-tab',{detail:e.model.__data.item.id}));
	  }
	}

    window.customElements.define(Pestanas1Element.is, Pestanas1Element);
  </script>
</dom-module>
